*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

#amplify-do-not-edit-begin
build/
dist/
node_modules/
amplifyconfiguration.json
.secret-*
**.sample
#amplify-do-not-edit-end

key.jks
key.pem
*.keystore
.env
.env.*
*.apk
*.aab